langchain
langchain-community
langchain-core
langchain-postgres
langchain-huggingface
langgraph
langchain-openai
psycopg[binary]
sentence-transformers
streamlit
unstructured
pypdf
markdown
pypandoc
torch
torchvision
torchaudio
transformers
accelerate
